<ion-content id="menu">
  <div class="bar bar-header">
    <h1 class="title">Menu</h1>
  </div>
  <br/>
  <br/>
  <br/>
  <br/>


  <ion-list style="max-width:20%">
    <ion-item>
      <div class="row">
        <div class="col-lg-2">
          <ion-thumbnail item-left>
            <img style="width:35px;height:55px;" src="localisation.png">
          </ion-thumbnail>
        </div>
        <div class="col-lg-10">
          <h2 style="text-align: center;">Accueilli 1</h2>
          <button  class="button button-full button-positive">
            Fréquence cardiaque: <h1>124</h1>
          </button>
        </div>
      </div>
    </ion-item>


    <ion-item>
      <div class="row">
        <div class="col-lg-2">
          <ion-thumbnail item-left>
            <img style="width:35px;height:55px;" src="localisation2.png">
          </ion-thumbnail>
        </div>
        <div class="col-lg-10">
          <h2 style="text-align: center;">Accueilli 2</h2>
          <button class="button button-full button-positive">
            Fréquence cardiaque: <h1>134</h1>
          </button>
        </div>
      </div>
    </ion-item>
  </ion-list>


  </div>
</ion-content>

