<ion-content id="menu">
  <div class="bar bar-header">
    <h1 class="title">Menu</h1>
  </div>
  <br/>
  <br/>
  <br/>
  <br/>


  <ion-list style="max-width:20%">
    <ion-item>
      <div class="row">
        <div class="col-lg-2">
          <ion-thumbnail item-left>
            <img class="localisationimg" src="localisation.png">
          </ion-thumbnail>
        </div>
        <div class="col-lg-10">
          <button  class="button button-full button-positive">
            Fréquence cardiaque: <h1>124</h1>
          </button>
        </div>
      </div>
    </ion-item>


    <ion-item>
      <div class="row">
        <div class="col-lg-2">
          <ion-thumbnail item-left style="margin-top:50%;">
            <img class="localisationimg"  src="localisation2.png">
          </ion-thumbnail>
        </div>
        <div class="col-lg-10">
          <button class="button button-full button-positive">
            Fréquence cardiaque: <h1>134</h1>
          </button>
        </div>
      </div>
    </ion-item>

    <ion-item>
      <div class="row">
        <div class="col-lg-2">
          <ion-thumbnail item-left>
            <img class="localisationimg" src="localisation3.png">
          </ion-thumbnail>
        </div>
        <div class="col-lg-10">
          <button class="button button-full button-positive">
            Fréquence cardiaque: <h1>89</h1>
          </button>
        </div>
      </div>
    </ion-item>
  </ion-list>


  </div>
</ion-content>

