<ion-content id="menu">
  <div class="bar bar-header">
    <h1 class="title">Menu</h1>
  </div>
  <br/>
  <br/>
  <br/>
  <br/>
  <ion-list>
    <ion-item>
      <div class="globalItem row">
        <div class="imagecontainer col-lg-2  ">
          <ion-thumbnail item-left>
            <img class="localisationimg" src="img/localisation.png">
          </ion-thumbnail>
        </div>

        <div class="buttoncontainer col-lg-10 ">
          <button class="button button-full button-positive">
            <div class="row"><span class="labelFQ">Fréquence cardiaque</span></div>
            <div class="rox"><span class="fcvalue">124</span></div>
          </button>
        </div>
      </div>
    </ion-item>

    <ion-item>
      <div class="globalItem row">
        <div class="imagecontainer col-lg-2  ">
          <ion-thumbnail item-left>
            <img class="localisationimg" src="img/localisation2.png">
          </ion-thumbnail>
        </div>

        <div class="buttoncontainer col-lg-10 ">
          <button class="button button-full button-positive">
            <div class="row"><span class="labelFQ">Fréquence cardiaque</span></div>
            <div class="rox"><span class="fcvalue">134</span></div>
          </button>
        </div>
      </div>
    </ion-item>
    <ion-item>
      <div class="globalItem row">
        <div class="imagecontainer col-lg-2  ">
          <ion-thumbnail item-left>
            <img class="localisationimg" src="img/localisation3.png">
          </ion-thumbnail>
        </div>

        <div class="buttoncontainer col-lg-10 ">
          <button class="button button-full button-positive">
            <div class="row"><span class="labelFQ">Fréquence cardiaque</span></div>
            <div class="rox"><span class="fcvalue">124</span></div>
          </button>
        </div>
      </div>
    </ion-item>
  </ion-list>

  </div>
</ion-content>

