# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/

node_modules
www
.tmp
.sass-cache
<%= appPath %>/bower_components
<%= appPath %>/lib
coverage
platforms
plugins
*.swp
*.swo
*.log
*.DS_Store

.idea



