/* Empty. Add your own CSS if you like */


#menu{
  background-color: rgb(220,221,205);

}

.bar-header > h1{
  color:white;
}

.bar-header{
  background-color: rgb(54,54,53);
  font-color:white;
}

.labelFQ{
  text-align:center;
  width:100%;
}

@media screen and (min-width: 1051px ) {
  .button-positive{
    margin-left: 0%;
  }

  .localisationimg{
    /*height: 20%;*/
    margin-top: 20%;
    margin-left: 5%;
    width: 60%;
  }

  .bar-header > h1{
    font-size: 50px;
  }

  ion-list{
    max-width:20%;
  }

  .labelFQ{
    font-size:20px;
  }

  span{
    font-size: 35px;
  }

  .ion-heart{
    display:none;
  }
}


@media screen and (max-width: 1050px ) {


  .button.button-positive {
    border-color: transparent;
    background-color: #387ef5;
    margin:0px;
    padding:0px;
    color: #fff;
  }

  .buttoncontainer{
    padding:0px;
    margin-top:5%;
  }

  .ion-item{
    height:5px;
  }

  /*
  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
  }*/

  span{
    font-size: 25px;
  }

  .localisationimg {
    height: 50px;
    width: 30px;
    margin-top: 15px;
  }

  .divlabelFQ{
    display:none;
  }
  .labelFQ{
    display:none;
  }

  .ion-heart{
    color:red;
    width:100%;
    font-size:35px;
  }

  .ion-heart::before{
    width:100%;
    height:100%;
  }

  .divheart{
    height: 50px;
  }

  .imagecontainer{
    position: relative;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 5px;
    /*margin-right:10px;*/
    width:30px;
  }

  .item{
    padding:2px;
  }

  .space{
    line-heigth:3em;
  }

}
